.title{
    margin-bottom: 44px;
}
.title_option {
   
  h2 {
    margin-right: 46px;
    margin-bottom: 0;
  }
  select {
    border: none;
  }
}

.search_note {
    a{
        color: $text-primary;
    }

}
