$bg-primary:#EDF4EE;
$bg-secondary:#CDDDCD;


$text-primary:#2A8356;
$text-secondary:#121212;

$space-0:0px;
$space-1:4px;
$space-2:8px;
$space-3:12px;
$space-4:16px;
$space-5:32px;




